* {
    margin: 1px, solid, lime;
}

:root {
    --yellow: #FDC913;
    --light-grey: #5F5F5F;
    --dark-grey: #292929;
    --red: #CE2829;
    --beige: #FAF7F2;
}

.header {
    background-color: var(--red);
    color: white;


}

h1 {
    text-align: center;
    padding: 2rem;
}

.gap {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;



}

.form {
    margin: 0 auto;
    max-width: 550px;

}

.form-row {
    display: flex;
    justify-content: space-between;

}
.justify {
    text-align:justify;
}